gloSuite9023/gloSuite/gloEMR/gloIntuitSecureMessage/Service References/gloPatientPortalEmailService/EmailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/gloEmail/EmailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/gloEmail/EmailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEmail_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IServiceEmail_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmail_GetProcessRequestStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessRequestStatus" />
  </wsdl:message>
  <wsdl:message name="IServiceEmail_GetProcessRequestStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessRequestStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEmail">
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmail/SendEmail" message="tns:IServiceEmail_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmail/SendEmailResponse" message="tns:IServiceEmail_SendEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessRequestStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmail/GetProcessRequestStatus" message="tns:IServiceEmail_GetProcessRequestStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmail/GetProcessRequestStatusResponse" message="tns:IServiceEmail_GetProcessRequestStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceEmail" type="tns:IServiceEmail">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IServiceEmail/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessRequestStatus">
      <soap:operation soapAction="http://tempuri.org/IServiceEmail/GetProcessRequestStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailService">
    <wsdl:port name="BasicHttpBinding_IServiceEmail" binding="tns:BasicHttpBinding_IServiceEmail">
      <soap:address location="http://localhost/gloEmail/EmailService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>