gloSuite9023/gloSuite/gloCommon/gloCommunity/Service References/gloClientService/ClientWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientWcfService_getClientList_InputMessage">
    <wsdl:part name="parameters" element="tns:getClientList" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_getClientList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClientListResponse" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_registerClient_InputMessage">
    <wsdl:part name="parameters" element="tns:registerClient" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_registerClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_registerClinicSite_InputMessage">
    <wsdl:part name="parameters" element="tns:registerClinicSite" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_registerClinicSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerClinicSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_registerClinicProvider_InputMessage">
    <wsdl:part name="parameters" element="tns:registerClinicProvider" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_registerClinicProvider_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerClinicProviderResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientWcfService">
    <wsdl:operation name="getClientList">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/getClientList" message="tns:IClientWcfService_getClientList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/getClientListResponse" message="tns:IClientWcfService_getClientList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/registerClient" message="tns:IClientWcfService_registerClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/registerClientResponse" message="tns:IClientWcfService_registerClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerClinicSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/registerClinicSite" message="tns:IClientWcfService_registerClinicSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/registerClinicSiteResponse" message="tns:IClientWcfService_registerClinicSite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerClinicProvider">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/registerClinicProvider" message="tns:IClientWcfService_registerClinicProvider_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/registerClinicProviderResponse" message="tns:IClientWcfService_registerClinicProvider_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientWcfService" type="tns:IClientWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClientList">
      <soap:operation soapAction="http://tempuri.org/IClientWcfService/getClientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerClient">
      <soap:operation soapAction="http://tempuri.org/IClientWcfService/registerClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerClinicSite">
      <soap:operation soapAction="http://tempuri.org/IClientWcfService/registerClinicSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerClinicProvider">
      <soap:operation soapAction="http://tempuri.org/IClientWcfService/registerClinicProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientWcfService">
    <wsdl:port name="BasicHttpBinding_IClientWcfService" binding="tns:BasicHttpBinding_IClientWcfService">
      <soap:address location="http://localhost:8080/Hello" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>