gloSuite9023/gloSuite/gloCommon/gloChargeRules/Service References/QCommService/QCommunicatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QCommunicatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IQCommunicatorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://demoportal.triarqclouds.com/QCommunication/QCommunicatorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://demoportal.triarqclouds.com/QCommunication/QCommunicatorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://demoportal.triarqclouds.com/QCommunication/QCommunicatorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QCommunicationService" />
      <xsd:import schemaLocation="https://demoportal.triarqclouds.com/QCommunication/QCommunicatorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQCommunicatorService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PopulatePracticeData_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulatePracticeData" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PopulatePracticeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulatePracticeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PopulatePracticeData_DataTable_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulatePracticeData_DataTable" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PopulatePracticeData_DataTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulatePracticeData_DataTableResponse" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PopulateClaimRules_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulateClaimRules" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PopulateClaimRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulateClaimRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PopulateRules_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulateRules" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PopulateRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulateRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PopulatePracticeDataCoreURL_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulatePracticeDataCoreURL" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PopulatePracticeDataCoreURL_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulatePracticeDataCoreURLResponse" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_GetClaimRuleData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimRuleData" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_GetClaimRuleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimRuleDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_SaveClaimRule_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveClaimRule" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_SaveClaimRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveClaimRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PublishClaimRules_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishClaimRules" />
  </wsdl:message>
  <wsdl:message name="IQCommunicatorService_PublishClaimRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishClaimRulesResponse" />
  </wsdl:message>
  <wsdl:portType name="IQCommunicatorService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCommunicatorService/GetData" message="tns:IQCommunicatorService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCommunicatorService/GetDataResponse" message="tns:IQCommunicatorService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PopulatePracticeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCommunicatorService/PopulatePracticeData" message="tns:IQCommunicatorService_PopulatePracticeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCommunicatorService/PopulatePracticeDataResponse" message="tns:IQCommunicatorService_PopulatePracticeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PopulatePracticeData_DataTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCommunicatorService/PopulatePracticeData_DataTable" message="tns:IQCommunicatorService_PopulatePracticeData_DataTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCommunicatorService/PopulatePracticeData_DataTableResponse" message="tns:IQCommunicatorService_PopulatePracticeData_DataTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PopulateClaimRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCommunicatorService/PopulateClaimRules" message="tns:IQCommunicatorService_PopulateClaimRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCommunicatorService/PopulateClaimRulesResponse" message="tns:IQCommunicatorService_PopulateClaimRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PopulateRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCommunicatorService/PopulateRules" message="tns:IQCommunicatorService_PopulateRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCommunicatorService/PopulateRulesResponse" message="tns:IQCommunicatorService_PopulateRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PopulatePracticeDataCoreURL">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCommunicatorService/PopulatePracticeDataCoreURL" message="tns:IQCommunicatorService_PopulatePracticeDataCoreURL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCommunicatorService/PopulatePracticeDataCoreURLResponse" message="tns:IQCommunicatorService_PopulatePracticeDataCoreURL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimRuleData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCommunicatorService/GetClaimRuleData" message="tns:IQCommunicatorService_GetClaimRuleData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCommunicatorService/GetClaimRuleDataResponse" message="tns:IQCommunicatorService_GetClaimRuleData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveClaimRule">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCommunicatorService/SaveClaimRule" message="tns:IQCommunicatorService_SaveClaimRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCommunicatorService/SaveClaimRuleResponse" message="tns:IQCommunicatorService_SaveClaimRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishClaimRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCommunicatorService/PublishClaimRules" message="tns:IQCommunicatorService_PublishClaimRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCommunicatorService/PublishClaimRulesResponse" message="tns:IQCommunicatorService_PublishClaimRules_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IQCommunicatorService" type="tns:IQCommunicatorService">
    <wsp:PolicyReference URI="#WSHttpBinding_IQCommunicatorService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IQCommunicatorService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePracticeData">
      <soap12:operation soapAction="http://tempuri.org/IQCommunicatorService/PopulatePracticeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePracticeData_DataTable">
      <soap12:operation soapAction="http://tempuri.org/IQCommunicatorService/PopulatePracticeData_DataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateClaimRules">
      <soap12:operation soapAction="http://tempuri.org/IQCommunicatorService/PopulateClaimRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateRules">
      <soap12:operation soapAction="http://tempuri.org/IQCommunicatorService/PopulateRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePracticeDataCoreURL">
      <soap12:operation soapAction="http://tempuri.org/IQCommunicatorService/PopulatePracticeDataCoreURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimRuleData">
      <soap12:operation soapAction="http://tempuri.org/IQCommunicatorService/GetClaimRuleData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClaimRule">
      <soap12:operation soapAction="http://tempuri.org/IQCommunicatorService/SaveClaimRule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishClaimRules">
      <soap12:operation soapAction="http://tempuri.org/IQCommunicatorService/PublishClaimRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QCommunicatorService">
    <wsdl:port name="WSHttpBinding_IQCommunicatorService" binding="tns:WSHttpBinding_IQCommunicatorService">
      <soap12:address location="https://demoportal.triarqclouds.com/QCommunication/QCommunicatorService.svc/secure" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://demoportal.triarqclouds.com/QCommunication/QCommunicatorService.svc/secure</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>