gloSuite9023/gloSuite/gloEMRAdmin/gloSureScript/Web References/eRx10dot6Staging/eRx0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ophit.net/WCFeRx/eRx.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFeRxService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFeRxService" minOccurs="0" name="composite" nillable="true" type="q1:ClsGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFeRxService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:ClsGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPrescribers" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMessageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResponsesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PharmacyDownLoadResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownloadLocal4dot0">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownloadLocal4dot0Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PharmacyDownloadLocal4dot0Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownloadLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownloadLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PharmacyDownloadLocalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClientMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntFromDB" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClientMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostClientMessageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginCredentials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoginCredentialsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPharmacyDownloadLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPharmacyDownloadLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkPharmacyDownloadLocalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPharmacyDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPharmacyDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkPharmacyDownloadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkWebConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkWebConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkWebConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Increment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IncrementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncrementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>