gloSuite9023/gloSuite/gloApps/RxSniffer/RxSniffer/Web References/eRx/eRx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://ophit.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://ophit.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://ophit.net/">
      <s:element name="PostClientRxMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cntFromDB" />
            <s:element minOccurs="0" maxOccurs="1" name="_key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_MsgType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostClientRxMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostClientRxMessageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoginCredentials">
        <s:complexType />
      </s:element>
      <s:element name="getLoginCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoginCredentialsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXMLDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXMLDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXMLDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProvideRoot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProvideRootResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProvideRootResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadUpdatedRxFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_clientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_siteId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadUpdatedRxFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadUpdatedRxFileResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmDownload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_clientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_siteId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_trnsId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmDownloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmDownloadResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForLatestFileUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_clientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_siteId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForLatestFileUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckForLatestFileUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrescribers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMessageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponsesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResponsesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDownloadStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Transactions" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDownloadStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveSurescriptRxMessages">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveSurescriptRxMessagesResponse">
        <s:complexType />
      </s:element>
      <s:element name="DirectoryDownload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DirectoryDownloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DirectoryDownloadResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostClientRxMessageSoapIn">
    <wsdl:part name="parameters" element="tns:PostClientRxMessage" />
  </wsdl:message>
  <wsdl:message name="PostClientRxMessageSoapOut">
    <wsdl:part name="parameters" element="tns:PostClientRxMessageResponse" />
  </wsdl:message>
  <wsdl:message name="getLoginCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:getLoginCredentials" />
  </wsdl:message>
  <wsdl:message name="getLoginCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:getLoginCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="GetXMLDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetXMLDocument" />
  </wsdl:message>
  <wsdl:message name="GetXMLDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetXMLDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetProvideRootSoapIn">
    <wsdl:part name="parameters" element="tns:GetProvideRoot" />
  </wsdl:message>
  <wsdl:message name="GetProvideRootSoapOut">
    <wsdl:part name="parameters" element="tns:GetProvideRootResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadUpdatedRxFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadUpdatedRxFile" />
  </wsdl:message>
  <wsdl:message name="DownloadUpdatedRxFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadUpdatedRxFileResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmDownloadSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmDownload" />
  </wsdl:message>
  <wsdl:message name="ConfirmDownloadSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="CheckForLatestFileUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:CheckForLatestFileUpdate" />
  </wsdl:message>
  <wsdl:message name="CheckForLatestFileUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:CheckForLatestFileUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetResponsesSoapIn">
    <wsdl:part name="parameters" element="tns:GetResponses" />
  </wsdl:message>
  <wsdl:message name="GetResponsesSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponsesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDownloadStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDownloadStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateDownloadStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDownloadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveSurescriptRxMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveSurescriptRxMessages" />
  </wsdl:message>
  <wsdl:message name="RetrieveSurescriptRxMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveSurescriptRxMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="DirectoryDownloadSoapIn">
    <wsdl:part name="parameters" element="tns:DirectoryDownload" />
  </wsdl:message>
  <wsdl:message name="DirectoryDownloadSoapOut">
    <wsdl:part name="parameters" element="tns:DirectoryDownloadResponse" />
  </wsdl:message>
  <wsdl:portType name="eRxMessageSoap">
    <wsdl:operation name="PostClientRxMessage">
      <wsdl:input message="tns:PostClientRxMessageSoapIn" />
      <wsdl:output message="tns:PostClientRxMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLoginCredentials">
      <wsdl:input message="tns:getLoginCredentialsSoapIn" />
      <wsdl:output message="tns:getLoginCredentialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXMLDocument">
      <wsdl:input message="tns:GetXMLDocumentSoapIn" />
      <wsdl:output message="tns:GetXMLDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvideRoot">
      <wsdl:input message="tns:GetProvideRootSoapIn" />
      <wsdl:output message="tns:GetProvideRootSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadUpdatedRxFile">
      <wsdl:input message="tns:DownloadUpdatedRxFileSoapIn" />
      <wsdl:output message="tns:DownloadUpdatedRxFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmDownload">
      <wsdl:input message="tns:ConfirmDownloadSoapIn" />
      <wsdl:output message="tns:ConfirmDownloadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckForLatestFileUpdate">
      <wsdl:input message="tns:CheckForLatestFileUpdateSoapIn" />
      <wsdl:output message="tns:CheckForLatestFileUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResponses">
      <wsdl:input message="tns:GetResponsesSoapIn" />
      <wsdl:output message="tns:GetResponsesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDownloadStatus">
      <wsdl:input message="tns:UpdateDownloadStatusSoapIn" />
      <wsdl:output message="tns:UpdateDownloadStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSurescriptRxMessages">
      <wsdl:input message="tns:RetrieveSurescriptRxMessagesSoapIn" />
      <wsdl:output message="tns:RetrieveSurescriptRxMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DirectoryDownload">
      <wsdl:input message="tns:DirectoryDownloadSoapIn" />
      <wsdl:output message="tns:DirectoryDownloadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eRxMessageSoap" type="tns:eRxMessageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostClientRxMessage">
      <soap:operation soapAction="https://ophit.net/PostClientRxMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginCredentials">
      <soap:operation soapAction="https://ophit.net/getLoginCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXMLDocument">
      <soap:operation soapAction="https://ophit.net/GetXMLDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvideRoot">
      <soap:operation soapAction="https://ophit.net/GetProvideRoot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadUpdatedRxFile">
      <soap:operation soapAction="https://ophit.net/DownloadUpdatedRxFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmDownload">
      <soap:operation soapAction="https://ophit.net/ConfirmDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckForLatestFileUpdate">
      <soap:operation soapAction="https://ophit.net/CheckForLatestFileUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="https://ophit.net/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResponses">
      <soap:operation soapAction="https://ophit.net/GetResponses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDownloadStatus">
      <soap:operation soapAction="https://ophit.net/UpdateDownloadStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSurescriptRxMessages">
      <soap:operation soapAction="https://ophit.net/RetrieveSurescriptRxMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DirectoryDownload">
      <soap:operation soapAction="https://ophit.net/DirectoryDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eRxMessageSoap12" type="tns:eRxMessageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostClientRxMessage">
      <soap12:operation soapAction="https://ophit.net/PostClientRxMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginCredentials">
      <soap12:operation soapAction="https://ophit.net/getLoginCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXMLDocument">
      <soap12:operation soapAction="https://ophit.net/GetXMLDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvideRoot">
      <soap12:operation soapAction="https://ophit.net/GetProvideRoot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadUpdatedRxFile">
      <soap12:operation soapAction="https://ophit.net/DownloadUpdatedRxFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmDownload">
      <soap12:operation soapAction="https://ophit.net/ConfirmDownload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckForLatestFileUpdate">
      <soap12:operation soapAction="https://ophit.net/CheckForLatestFileUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="https://ophit.net/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResponses">
      <soap12:operation soapAction="https://ophit.net/GetResponses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDownloadStatus">
      <soap12:operation soapAction="https://ophit.net/UpdateDownloadStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSurescriptRxMessages">
      <soap12:operation soapAction="https://ophit.net/RetrieveSurescriptRxMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DirectoryDownload">
      <soap12:operation soapAction="https://ophit.net/DirectoryDownload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eRxMessage">
    <wsdl:port name="eRxMessageSoap" binding="tns:eRxMessageSoap">
      <soap:address location="http://74.208.12.122/eRx.asmx" />
    </wsdl:port>
    <wsdl:port name="eRxMessageSoap12" binding="tns:eRxMessageSoap12">
      <soap12:address location="http://74.208.12.122/eRx.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>