gloSuite9023/gloSuite/gloCommon/gloSureScript/Service References/eRxWCFStaging/eRx4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41474/eRx.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFeRxService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFeRxService" minOccurs="0" name="composite" nillable="true" type="q1:ClsGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFeRxService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:ClsGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPrescribers" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMessageType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResponsesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPrescribers" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResponseMessagesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDownloadStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Transactions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDownloadStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PharmacyDownLoadResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownloadLocal4dot0">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownloadLocal4dot0Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PharmacyDownloadLocal4dot0Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownloadLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PharmacyDownloadLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PharmacyDownloadLocalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrescriberDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrescriberDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrescriberDownloadResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrescriberDownloadLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrescriberDownloadLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrescriberDownloadLocalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClientMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntFromDB" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClientMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostClientMessageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClientMessageV1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntFromDB" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClientMessageV1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostClientMessageV1Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginCredentials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoginCredentialsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClient270nMedHxMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntFromDB" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClient270nMedHxMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostClient270nMedHxMessageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFeRxService" minOccurs="0" name="Provider" nillable="true" type="q3:Prescriber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertProviderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFeRxService" minOccurs="0" name="Provider" nillable="true" type="q4:Prescriber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProviderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectAddressExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DirectAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectAddressExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DirectAddressExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirectAddressProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DirectAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirectAddressProviderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPharmacyDownloadLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPharmacyDownloadLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkPharmacyDownloadLocalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPharmacyDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPharmacyDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkPharmacyDownloadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkWebConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkWebConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkWebConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Increment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IncrementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncrementResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostEPCSMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objEpcsDoc" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="EpcsMessageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AusID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostEPCSMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostEPCSMessageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>