gloSuite9023/gloSuite/gloApps/RxSniffer/gloVault/Web References/gloVaultSniffer/gloVaultSniffer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessElementRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProElement" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="_Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessElementRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessElementRequestResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="_Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CProcessCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProElement" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="_proId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CProcessCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CProcessCDResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="_Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRequestAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProList" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="_Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRequestAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendRequestAccessResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strOutmessatge" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyApprovals">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reQuestId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyApprovalsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMyApprovalsResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccessKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_reQuestId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_locId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccessKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccessKeyResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="_Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessElementRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessElementRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessElementRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessElementRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CProcessCDSoapIn">
    <wsdl:part name="parameters" element="tns:CProcessCD" />
  </wsdl:message>
  <wsdl:message name="CProcessCDSoapOut">
    <wsdl:part name="parameters" element="tns:CProcessCDResponse" />
  </wsdl:message>
  <wsdl:message name="SendRequestAccessSoapIn">
    <wsdl:part name="parameters" element="tns:SendRequestAccess" />
  </wsdl:message>
  <wsdl:message name="SendRequestAccessSoapOut">
    <wsdl:part name="parameters" element="tns:SendRequestAccessResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyApprovalsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyApprovals" />
  </wsdl:message>
  <wsdl:message name="GetMyApprovalsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyApprovalsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccessKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetAccessKey" />
  </wsdl:message>
  <wsdl:message name="GetAccessKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetAccessKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="gloVaultSnifferSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessElementRequest">
      <wsdl:input message="tns:ProcessElementRequestSoapIn" />
      <wsdl:output message="tns:ProcessElementRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CProcessCD">
      <wsdl:input message="tns:CProcessCDSoapIn" />
      <wsdl:output message="tns:CProcessCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendRequestAccess">
      <wsdl:input message="tns:SendRequestAccessSoapIn" />
      <wsdl:output message="tns:SendRequestAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyApprovals">
      <wsdl:input message="tns:GetMyApprovalsSoapIn" />
      <wsdl:output message="tns:GetMyApprovalsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccessKey">
      <wsdl:input message="tns:GetAccessKeySoapIn" />
      <wsdl:output message="tns:GetAccessKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="gloVaultSnifferSoap" type="tns:gloVaultSnifferSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessElementRequest">
      <soap:operation soapAction="http://tempuri.org/ProcessElementRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CProcessCD">
      <soap:operation soapAction="http://tempuri.org/CProcessCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequestAccess">
      <soap:operation soapAction="http://tempuri.org/SendRequestAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyApprovals">
      <soap:operation soapAction="http://tempuri.org/GetMyApprovals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessKey">
      <soap:operation soapAction="http://tempuri.org/GetAccessKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="gloVaultSnifferSoap12" type="tns:gloVaultSnifferSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessElementRequest">
      <soap12:operation soapAction="http://tempuri.org/ProcessElementRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CProcessCD">
      <soap12:operation soapAction="http://tempuri.org/CProcessCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequestAccess">
      <soap12:operation soapAction="http://tempuri.org/SendRequestAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyApprovals">
      <soap12:operation soapAction="http://tempuri.org/GetMyApprovals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessKey">
      <soap12:operation soapAction="http://tempuri.org/GetAccessKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gloVaultSniffer">
    <wsdl:port name="gloVaultSnifferSoap" binding="tns:gloVaultSnifferSoap">
      <soap:address location="http://dev04/MyApps/gloVault/gloVaultSniffer.asmx" />
    </wsdl:port>
    <wsdl:port name="gloVaultSnifferSoap12" binding="tns:gloVaultSnifferSoap12">
      <soap12:address location="http://dev04/MyApps/gloVault/gloVaultSniffer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>