gloSuite9023/gloSuite/gloApps/RxSniffer/RxSniffer/Service References/gloDirectStaging/gloDirect2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/gloDirectServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/gloDirectServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsException" nillable="true" type="tns:clsException" />
</xs:schema>