gloSuite9023/gloSuite/gloApps/RxSniffer/RxSniffer/Service References/gloDirectStaging/gloDirect.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetLoginCredentials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoginCredentialsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostSecureMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="byteMessage" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostSecureMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostSecureMessageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrescriberDownloadLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_DownloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrescriberDownloadLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrescriberDownloadLocalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrescriberDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_DownloadType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrescriberDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrescriberDownloadResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>