gloSuite9023/gloSuite/gloApps/RxSniffer/RxSniffer/Service References/gloDirectStaging/gloDirect3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ophit.net/gloDirect/gloDirect.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/gloDirectServices" />
  <xs:element name="GetLoginCredentials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoginCredentialsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostSecureMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SenderAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReceiverAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SPI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClinicName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="byteMessage" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/gloDirectServices" minOccurs="0" name="oMessageType" type="q1:Clsglobal.MessageType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostSecureMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostSecureMessageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPrescriberAdd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResponseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPrescriberAdd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMessageIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Docurl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Offset" type="xs:long" />
        <xs:element minOccurs="0" name="BufferSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadChunkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadChunkResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>